{% extends "main.html"%}
{% block style %}index.css{% endblock %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <h1 id="main-title">Bienvenue sur LiturGo !</h1>
    <div id="div-login-form">

        <form action="{{ url_for('login') }}" method="post" id="login-form">
            <h2>Veuillez vous connecter pour continuer</h2>
            <input type="text" name="email" id="email" placeholder="Adresse Email" required>
            <input type="password" name="password" id="password" placeholder="Mot de passe" required>
            <button type="submit"> Se connecter </button>
        </form>

    </div>

{% endblock %}