<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LiturGo - {% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/{% block style %}main.css{% endblock %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <footer>
            <p>Donatien VACHETTE - 2024</p>
            <p>All rights reserved</p>
            <p><a href="{{ url_for('index') }}">home</a></p>
        </footer>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-{{messages[-1][0]}}" id="popup">
                    <span id="closepopup" onclick="closePopup()">&#10060;</span>
                    <p>{{ messages[-1][1] }}</p>
                </div>
            {% endif %}
        {% endwith %}
        <script>
            document.addEventListener('click', function(event) {
                var popup = document.getElementById('popup');
                if (popup && !popup.contains(event.target)) {
                    closePopup();
                }
            });
            function closePopup() {
                document.getElementById("popup").style.display = "none"
            }
        </script>
    </body>
</html>